<div id="flash-messages">
  <% flash.each do |type, message| %>
    <div class="flash <%= type %>">
      <p><%= message %></p>
      <button class="close" onclick="this.parentElement.style.display='none';">&times;</button>
    </div>
  <% end %>
</div>